header {
    display: flex;
    align-items: center;
    background-color: #3E6E8C;
    padding: 1rem;
}

header h1 {
    position: absolute;
    left: 50%;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 3rem;
    padding: 0.5rem;
}

header nav {
    margin-left: auto;
    text-align: right;
}

header nav a {
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: bold;
}


#container {
    display: flex;
}

#minor-column {
    flex: 1;
    background-color: #96C6D9;
    margin-right: 2rem;
}

#minor-column h2 {
    font-size: 1.25rem;
    text-align: center;
}

#major-column {
    flex: 5;
}

#major-column article h2 {
    font-size: 1.5rem;
}


footer {
    background-color: #3E6E8C;
    color: #FFFFFF;
}

footer h6 {
    font-family: "Roboto";
    font-weight: bold;
}